@media screen and (max-width: 1200px) {
    .hidden {
        display: none;
    }

    .navMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 10px 30px 10px;
    }

    .navMobile .ham {
        padding: 10px 25px 5px 25px;
        background-color: #dddfdf;
        border-radius: 5px;
    }
}